<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
            <input type="text" th:field="${event.name}" class="form-control">
            <p class="error" th:errors="${event.name}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:field="${event.description}" class="form-control">
            <p class="error" th:errors="${event.description}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="email" th:field="${event.contactEmail}" class="form-control">
            <p class="error" th:errors="${event.contactEmail}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Location
            <input type="text" th:field="${event.location}" class="form-control">
            <p class="error" th:errors="${event.location}"></p>
        </label>
    </div>
    <div class="form-check">
        <label>Registration Required
            <input type="checkbox" th:field="${event.mustRegister}" class="form-check-input">
            <p class="error" th:errors="${event.mustRegister}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Number of Attendees
            <input type="text" th:field="${event.numberOfAttendees}" class="form-control">
            <p class="error" th:errors="${event.numberOfAttendees}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>

<th:block th:replace="fragments :: javascript"></th:block>

</body>
</html>